buildinfo.properties
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/*.sc
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.ensime
.ensime_cache
.cache-*
*~
/bin/
native
http-client.private.env.json
.bsp/
.bloop/
.metals/
project/metals.sbt
node_modules
cache
